<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
            margin-top: 20px;
        }
        
        /* Image + button container */
        .image-container {
            position: fixed;
            left: 50px;
            top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #image {
            width: 193px;
            height: 300px;
        }

        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actualName %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <h1><%= actualName %></h1>
    </div>
    
    <!-- Image + Button -->
    <div class="image-container">
        <img id="image" src="/<%= name %>.png" alt="<%= actualName %>">
        
        <!-- Include the want-to-go partial -->
        <%- include('partials/want-to-go-btn') %>
    </div>
    
    <!-- Description -->
    <div class="container2">
        <%= description || 'Also known as the Land of the Gods, Bali appeals through its sheer natural beauty of looming volcanoes and lush terraced rice fields that exude peace and serenity. It is also famous for surfers\' paradise.' %>
    </div>
    
    <!-- Video -->
    <div class="video">
        <iframe width="500" height="315" 
            src="https://www.youtube.com/embed/BFS9n4B_2xA?si=m9aSrDaLOVL8mNur"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    
    <%- include('partials/back-button') %>
</body>
</html>