<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
            margin-top: 50px;
        }

        .categories-container {
            display: flex;         /* arrange items in a row */
            justify-content: start; /* align items to start */
            gap: 50px;             /* spacing between items */
            margin: 50px auto;     /* center container horizontally */
            padding: 20px;
            flex-wrap: wrap;       /* wrap to next line if screen is small */
            max-width: 1200px;
        }

        .category-item {
            text-align: center;
            color: white;
        }

        .category-item img {
            width: 100px;
            height: 100px;
        }

        .wanttogo {
            position: fixed;
            left: 50px;
            bottom: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Welcome, <%= username %>!</h1>
    </div>

    <div class="categories-container">
  <% categories.forEach(function(cat) { %>
    <div class="category-item" style="position: relative; z-index: 10;">
      <img src="<%= cat.img %>" alt="<%= cat.name %>">
      <br>
      <label class="ml-2 my-2"><%= cat.name %></label>
      <br>
      <button
        type="button"
        class="btn btn-secondary mt-2"
        onclick="window.location.href='/category/<%= cat.name.toLowerCase() %>';">
        View
      </button>
    </div>
  <% }); %>
</div>
</body>
</html>
