<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
            margin-top: 20px;
        }
        
        .image-container {
            position: fixed;
            left: 50px;
            top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #image {
            width: 193px;
            height: 300px;
        }

        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actualName %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <h1><%= actualName %></h1>
    </div>
    
    <div class="image-container">
        <img id="image" src="/paris.png" width="193" height="300">
        <%- include('partials/want-to-go-btn') %>
    </div>
    
    <div class="container2">
        It is known as the most romantic city in the world, and is home to some world famous sights that are constantly shown in travel magazines, movies, and other works of art. Paris, the capital of France, has a population of over two million people and is one of Europe's most-visited cities.
    </div>
    
    <div class="video">
        <iframe width="500" height="315"
            src="https://www.youtube.com/embed/irwVUA4nCl0?si=eQNwdf7fHj6HTTRC"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    
    <%- include('partials/back-button') %>
</body>
</html>